{{ define "main" }}
  <div class="container" role="main">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
        <div class="posts-list">
          {{ range .Paginator.Pages }}
          {{ if not .Params.hide }}
            <article class="post-preview">
              {{ $showLink := and (not (in .Site.Params.hideLinkType .Type)) (not .Params.hideLink) }}
              {{ if $showLink }}
              <a href="{{ .Permalink }}">
              {{ end }}
                <h2 class="post-title">{{ .Title }}</h2>

                {{ if .Params.subtitle }}
                  <h3 class="post-subtitle">
                    {{ .Params.subtitle }}
                  </h3>
                {{ end }}
              {{ if $showLink }}
              </a>
              {{ end }}

              <p class="post-meta">
                {{ partial "post_meta.html" . }}
              </p>
              <div class="post-entry">
                {{ $needTruncate := .Truncated }}
                {{ if .Params.Sum }}
                  {{ $needTruncate = .Params.Sum }}
                {{ else }}
                  {{ if (in .Site.Params.disableTruncate .Type) }}
                   {{ $needTruncate = false }}
                  {{ end }}
                {{ end }}
                {{ if $needTruncate }}
                  {{ .Summary }}
                  <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
                {{ else }}
                  {{ .Content }}
                {{ end }}
              </div>

              {{ if .Params.tags }}
                <div class="blog-tags">
                  {{ range .Params.tags }}
                    <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
                  {{ end }}
                </div>
              {{ end }}

            </article>
          {{ end }}
          {{ end }}
        </div>

        {{ if gt .Paginator.TotalPages 1}}

        <ul class="pager main-pager">
          {{ if .Paginator.HasPrev }}
            <li class="previous">
              <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
            </li>
          {{ end }}

          {{ $pag := $.Paginator }}
          {{ range $pag.Pagers }}
            {{ $right := sub .TotalPages .PageNumber }}
            {{ $showNumber := or (le .PageNumber 3) (eq $right 0) }}
            {{ $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2)))  }}

            {{ if $showNumber }}
              {{ $.Scratch.Set "__paginator.ellipsed" false }}
              {{ $.Scratch.Set "__paginator.shouldEllipse" false }}
            {{ else }}
              {{ $.Scratch.Set "__paginator.shouldEllipse" (not ($.Scratch.Get "__paginator.ellipsed") ) }}
              {{ $.Scratch.Set "__paginator.ellipsed" true }}
            {{ end }}

            {{ if $showNumber }}
              {{ if eq . $pag }}
              <li class="paginator">
                <a href="{{ .URL }}">{{ .PageNumber }}</a>
              </li>
              {{ else }}
              <li class="paginator">
                <a href="{{ .URL }}">{{ .PageNumber }}</a>
              </li>
              {{ end }}
            {{ else if ($.Scratch.Get "__paginator.shouldEllipse") }}
              <li class="paginator disabled">
                <a> ... </a>
              </li>
            {{ end }}
          {{ end }}



          {{ if .Paginator.HasNext }}
            <li class="next">
              <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
            </li>
          {{ end }}
        </ul>

        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
