<span class="post-meta">
  {{ $hideMeta := (in .Site.Params.hideMetaType .Type) }}
  {{ $showModify := (in .Site.Params.showLastModifyType .Type) }}

  {{ if .Params.Date }}
    {{ $lastmodstr := default (i18n "dateFormat") .Site.Params.dateformat | .Lastmod.Format }}
    {{ $datestr := default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format }}
    <i class="fas fa-calendar"></i>&nbsp;{{ $datestr | i18n "postedOnDate"}}
    {{ if and (ne $datestr $lastmodstr) $showModify }}
      &nbsp;{{ $lastmodstr | i18n "lastModified"  }}
    {{ end }}
  {{ end }}

  {{ if and .Site.Params.readingTime (not $hideMeta) }}
  <i class="fas fa-clock"></i>&nbsp;{{ i18n "readingTime"}}{{ .ReadingTime }}&nbsp;{{ i18n "readTime" }}&nbsp;|&nbsp;
  {{ end }}

  {{ if and .Site.Params.wordCount (not $hideMeta) }}
    <i class="fas fa-book"></i>&nbsp;{{ .WordCount }}&nbsp;{{ i18n "words" }}&nbsp;|&nbsp;
  {{ end }}

  {{ if and (and .Site.Author.name .Site.Params.showAuthor) (not $hideMeta) }}
    &nbsp;|&nbsp;<i class="fas fa-user"></i>&nbsp;{{ .Site.Author.name | safeHTML }}
  {{ end }}


  {{- if .Site.Params.staticman -}}
    &nbsp;|&nbsp;<i class="fas fa-comment"></i>&nbsp;
    {{ $slug := replace .URL "/" "" }}
    {{ if .Site.Data.comments }}
      {{ $comments := index $.Site.Data.comments $slug }}
      {{ if $comments }}
        {{ if gt (len $comments) 1  }}
          {{ len $comments  }} {{ i18n "moreComment" }}
        {{ else }}
          {{ len $comments  }} {{ i18n "oneComment" }}
        {{ end }}
      {{ else }}
        0 {{ i18n "oneComment" }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ if .IsTranslated -}}
    {{- $sortedTranslations := sort .Translations "Site.Language.Weight" -}}
    {{- $links := apply $sortedTranslations "partial" "translation_link.html" "." -}}
    {{- $cleanLinks := apply $links "chomp" "." -}}
    {{- $linksOutput := delimit $cleanLinks (i18n "translationsSeparator") -}}
    &nbsp;&bull;&nbsp;{{ i18n "translationsLabel" }}{{ $linksOutput }}
  {{- end }}
</span>

{{ if .Params.categories }}
{{ $url_prefix := $.Site.LanguagePrefix | absURL }}
{{ if not (eq $.Site.LanguagePrefix "") }}
  {{ $url_prefix = print $url_prefix "/" }}
{{ end }}
<div class="blog-categories">
    {{ range .Params.categories }}
    <a href="{{ $url_prefix }}categories/{{ . | urlize }}/">{{ . }}</a>&nbsp;
    {{ end }}
</div>
{{ end }}
